html {
    
    font-size: 16px;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    display: flex;
    justify-content: space-between;
    padding: 1rem;



    background-color: #BE8A5E;
    color: #FFEDBC;
    
}

.icone {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.icone img {
    
    width: 4rem;
    height: auto;
    
}

.icone h1{
    
    font-weight: 700;
    font-size: 1.5rem;
    
}

.icone h2{
    
    font-weight: 300;
    font-size: 1rem;
    
}

.carteira {

    margin-top: 1.5rem;
    margin-right: 1.5rem;

}

.carteira button {
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 10rem;
    height: 3rem;

    padding: 1rem;
    
    font-family: 'Roboto';
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;

    border-radius: 0.9rem;
    border-style: none;
    background: #DBDBDB;
    color: #333333;

    transition: 0.3s;

}

.carteira button img {

    width: 2.5rem;
    height: auto;

}


body {
    
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    
}

.menu-lateral {


    width: 14rem;
    height: 44rem;
    
    text-align: center;
    line-height: 1rem;

    
    transition: color 0.5s;
    
}


.menu-lateral ul {

    margin-left: 1rem;    
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 3rem;
    
    list-style: none;
    text-align: left;
    align-items: center;

}

.menu-lateral ul li img {

    width: 1.5rem;
    height: auto;
    margin-right: 1rem;


}

.menu-lateral ul li {

    display: flex;

}

.menu-lateral a {
    text-decoration: none;
    color: #333333;
    
    
}

.menu-lateral li:last-child {

    margin-top: 3rem;

}


.carteira button:hover{

    background-color: #8B5D33;
    color: #FFEDBC;

}

.menu-lateral li:hover {

    background-color: #8B5D33;
    color: #FFEDBC;

}

.menu-lateral a:hover {

    color: #FFEDBC;

}

.menu-lateral ul li img:hover {

    fill: #FFEDBC;

}